.achievement{
    margin-top: $mr-0 + 1;
    .achievement-background{
        background: $color-black-6;
        padding: $pd-6 0;
        .achievement-items{
            color: $color-white-0;
            .achievement-icon{
                display: inline-block;
                margin-bottom: $mr-1;
                margin-top: 0;
                i{
                    padding-right: $pd-1;
                    font-size: $fs-7;
                }
                span{
                   font-size: $fs-7;
                   line-height: 1.5;
                   font-weight: normal;
                }
            }
        }
    }
}